# Basic set up for three package managers

version: 2
updates:

  # Maintain dependencies for Composer
  - package-ecosystem: "composer"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "07:00"
      timezone: "Asia/Kolkata"
    commit-message:
      prefix: "chore(deps):"
