version: '3'

services:
  nginx:
    env_file:
      - .env
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    volumes:
      - ./:/var/www/html
    ports:
      - '8080:80'
    restart: unless-stopped

